<!DOCTYPE html>
<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Bienvenue sur GossipBoy !</h1>
    <p>La liste des potins arrive bientôt, mais en attendant, tu peux créer un nouveau potin :</p>
    <a href="/gossips/new/">Créer un nouveau potin</a>
    
    <%# boucle pour afficher la liste des potins %>
    <% gossips.each do |gossip| %>
      <p> 
        <%= gossip.author %> <!-- affiche l'auteur du potin -->
        <br/> 
        <%= gossip.content %> <!-- affiche le contenu du potin -->
      </p> 
    <% end %>
  </body>
</html>
